* {
    box-sizing: border-box;
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: lightgray;
}

section {
    height: 700px;
    width: 1000px;
}

.quiz_card {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    height: 700px;
    width: 180px;
    background-color: blue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar_img {
    height: 88px;
    width: 96px;
    margin-top: 64px;
}

nav {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

nav>button {
    width: 180px;
}

.chose_theme {
    display: flex;
    align-items: center;
    text-align: left;
    border-left: 6px solid rgba(255, 255, 255, 0);
    padding-left: 32px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 26px;
}

.chose_theme:hover {
    border-left: 6px solid rgba(255, 255, 255, 1);
    color: white;
}

.content_main {
    background-color: rgba(255, 255, 255, 0.219);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_head {
    height: 120px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.content_choises {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.choise_item {
    width: 60%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 8px;
}

.differ {
    height: 64px;
    width: 64px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.answer_item {
    flex: 1;
    margin-left: 40px;
    font-size: 26px;
}

.buttons {
    background-color: blueviolet;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.content_main_finish {
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 242, 225);
    clip-path: circle(43%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.clr_blck {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.clr_blue {
    font-size: 32px;
    font-weight: bold;
    color: blue;
}

.content_main_finish_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
}

.content_main_finish_score {
    display: flex;
    align-items: center;
    gap: 32px;
}

.content_main_finish_buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content_main_finish_buttons>button {
    width: 280px;
    height: 64px;
    border-radius: 16px;
    font-size: 24px;
    color: orangered;
}

.content_main_finish_buttons>button:hover {
    background-color: orangered;
    color: white;
}