* {
    box-sizing: border-box;
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 223, 226);
}

.quiz_card {
    height: 700px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

.sidebar {
    height: 700px;
    width: 180px;
    background-color: blue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar_img {
    height: 88px;
    width: 96px;
    margin-top: 64px;
}

nav {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

nav>button {
    width: 180px;
}

.chose_theme {
    display: flex;
    align-items: center;
    text-align: left;
    border-left: 6px solid rgba(255, 255, 255, 0);
    padding-left: 32px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 26px;
}

.chose_theme:hover {
    border-left: 6px solid rgba(255, 255, 255, 1);
    color: white;
}

.content_main {
    background-color: rgb(235, 234, 234);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_head {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.content_choises {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.choise_item {
    width: 60%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
}

.differ {
    height: 64px;
    width: 64px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.answer_item {
    flex: 1;
    margin-left: 40px;
    font-size: 26px;
}

.question_footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.content_main_finish {
    flex: 1;
    width: 100%;
    background-color: rgb(226, 226, 226);
    clip-path: circle(43%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.clr_blck {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.clr_blue {
    font-size: 32px;
    font-weight: bold;
    color: blue;
}

.content_main_finish_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.content_main_finish_score {
    display: flex;
    align-items: center;
    gap: 32px;
}

.content_main_finish_buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content_main_finish_buttons>button {
    width: 280px;
    height: 64px;
    border-radius: 16px;
    font-size: 24px;
    color: orangered;
}

.content_main_finish_buttons>button:hover {
    background-color: orangered;
    color: white;
}

.content_main_start {
    height: 100%;
    width: 100%;
    background-image: url('./assets/img/brainbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quiz_answer_card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.correct_answer {
    background-color: rgba(0, 255, 0, 0.6);
}

.wrong_answer {
    background-color: rgba(255, 0, 0, 0.6);
}

.correct_answer:hover {
    background-color: rgba(0, 255, 0, 0.55);
}

.wrong_answer:hover {
    background-color: rgba(255, 0, 0, 0.55);
}

.progress {
    height: 16px;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.progressbar {
    background-color: blue;
    height: 100%;
    border-radius: 0 8px 8px 0;
    transition: 0.5s ease-in-out;
}

@media (max-width:1050px) {
    .quiz_card {
        width: 800px;
    }

    .content_main_finish {
        clip-path: circle(46%);
    }

    .content_main_finish_buttons>button {
        width: 200px;
    }

    .content_head {
        padding: 8px;
    }

    .question_text {
        font-size: 32px;
    }
}

@media (max-width: 850px) {

    .quiz_card {
        flex-direction: column;
        height: 90vh;
        width: 90%;
    }

    .sidebar {
        width: 100%;
        height: 185px;
    }

    .sidebar_img {
        margin: 24px 0;
    }

    .chose_theme {
        justify-content: center;
        border-left: 0;
        border-bottom: 6px solid rgba(255, 255, 255, 0);
        padding: 9px 0;
        width: 100px;
    }

    nav {
        flex-direction: row;
        margin-bottom: 16px;
    }

    .chose_theme:hover {
        border: 0;
        border-bottom: 6px solid white;
    }
}

@media (max-width: 650px) {
    .content_choises {
        min-height: 366px;
    }
}